@import "../../../scss/main.scss";

.button {
  position: relative;
  background-color: darken($additionalColor, 5%);
  color: $backgroundColor;
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0px 25px;
  border-radius: 18px;
  box-shadow: $shadow;
  outline: none;

  &:hover {
    background-color: darken($additionalColor, 5%);
  }

  &:active {
    background-color: darken($additionalColor, 10%);
  }

}