@import "../../../scss/main.scss";

.button {
  position: relative;
  background-color: lighten($additionalColor, 5%);
  color: $backgroundColor;
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0px 25px;
  border-radius: 18px;
  box-shadow: $shadow;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($additionalColor, 2%);
  }

  &:active {
    background-color: darken($additionalColor, 5%);
  }

  &_white {
    background-color: $backgroundColor;
    color: $additionalColor;

    &:hover {
      background-color: darken($backgroundColor, 10%);
    }

    &:active {
      background-color: darken($backgroundColor, 20%);
    }
  }

}