@import "../../../scss/main.scss";

.logo {
  &__text {
    font-size: 30px;
    font-weight: 900;
    color: $textColor;

    @media (max-width: $md3+px) {
      font-size: 20px;
    }

    span {
      color: $accentColor;
      margin-left: 5px;
    }
  }
}