@import "../../../scss/main.scss";
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");

.map {
  border-radius: 15px 0px 0px 15px;
  overflow: hidden;
  box-shadow: $shadow;
  position: relative;
  position: absolute;
  top: -15px;
  left: -0px;
  right: -15px;
  bottom: -15px;

  @media (max-width:$md2+px) {
    left: -15px;
    border-radius: 0px;
  }

  @media (max-width:$md4+px) {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }

  &__controlButtons {
    @include flexbox();
    position: absolute;
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
    z-index: 9999;
    justify-content: center;
    align-items: center;

    &>* {
      margin-right: 15px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .leaflet-container {
    height: 100%;
    width: 100%;

    .leaflet-control-zoom {
      margin: 15px;
      border-radius: 16px;
      overflow: hidden;
      border: none;
      box-shadow: none;

      a {
        border: none;
        height: 40px;
        width: 33px;
        line-height: 40px;
        color: $textColor;
      }
    }

    .leaflet-control-layers {
      border: none;
      border-radius: 20px;
      margin: 15px;
      padding: 8px;

      a {
        height: 25px;
        width: 25px;
        background-size: 20px 20px;
      }

      .leaflet-control-layers-list {
        min-width: 130px;
        padding: 0px 15px;
      }

      .leaflet-control-layers-selector {
        margin-right: 5px;
      }
    }

    .leaflet-div-icon {
      border: none;
      background: transparent;
    }

    .leaflet-popup-content-wrapper {
      border-radius: 13px;
      padding: 0px;
    }

    .leaflet-popup-content {
      margin: 0px;
    }

    .leaflet-popup-content p {
      margin: 0px;
      padding: 0px;
    }

    .leaflet-popup {
      margin-bottom: 43px;
    }
  }

  .leaflet-div-satelite-icon {
    background: $textError;
    border-radius: 50%;
  }

  .leaflet-popup-tip-container {
    display: none;
  }
}

.markerPopup {
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;

  &__name {
    font-size: 13px;
    font-weight: 500;
  }

  &__info {
    line-height: 1.6;
    margin: 0px;
  }
}