@import "../../../scss/main.scss";
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");

.map {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: $shadow;
  position: relative;

  &__saveButton {
    position: absolute;
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
    z-index: 9999;
  }

  .leaflet-container {
    height: 100%;
    width: 100%;
  }

  .leaflet-control-zoom {
    margin: 15px;
    border-radius: 16px;
    overflow: hidden;
    border: none;
    box-shadow: none;

    a {
      border: none;
      height: 40px;
      width: 33px;
      line-height: 40px;
      color: $textColor;
    }
  }

  .leaflet-div-icon {
    border: none;
    background: transparent;
  }

  .leaflet-popup-content-wrapper {
    border-radius: 13px;
    padding: 15px;
  }

  .leaflet-popup {
    margin-bottom: 43px;
  }
}