@import "../../../../scss/main.scss";

.loginForm {
  &__buttonItem {
    @include flexbox();
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__error {
    display: inline-block;
    font-size: 13px;
    color: $textError;
    margin-right: 15px;
  }
}