@import "../../../../scss/main.scss";

.MapBGLayerOptions {

  &__title {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    height: 35px;
    color: $backgroundColor;
    background: $additionalColor;
    box-shadow: $shadow;
  }

  &__subtitle {
    display: block;
    font-size: 14px;
    text-align: center;
    // line-height: 2.0;
    font-weight: 600;
  }

  &__list {
    padding: 15px 15px 30px 15px;

    &>* {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}