@import "../../../../scss/main.scss";

.markerPopup {
  margin: 0px;
  position: relative;
  padding: 15px;
  padding-top: 180px;
  border-radius: 15px;
  width: 250px;

  &:before {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: $backgroundColor;
  }

  &__img {
    border-radius: 2px;
    position: absolute;
    top: 25px;
    left: 0px;
    right: -2px;
    height: 140px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_contain {
      img {
        object-fit: contain;
      }
    }
  }

  &__content {
    &>* {
      margin-bottom: 5px !important;
    }
  }

  &__name {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__info {
    line-height: 1.6;
    margin: 0px;
    font-weight: 600;
    margin-bottom: 25px;
    display: block;

    span {
      margin-left: 10px;
      font-weight: 500;
    }
  }
}