@import "../../../../scss/main.scss";

.OptionListItem {
  font-size: 14px;
}

.checkbox {
  line-height: 1.8;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      font-size: 14px;
      color: $textColor;

      &::before {
        content: '';
        display: inline-block;
        width: 1.1em;
        height: 1.1em;
        flex-shrink: 0;
        flex-grow: 0;
        background: darken($backgroundColor, 15%);
        border-radius: 0.30em;
        margin-right: 0.7em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }

    &:checked+label::before {
      border: none;
      background-color: $additionalColor;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &:not(:disabled):not(:checked)+label:hover::before {
      border: 1px solid darken($backgroundColor, 20%);
    }
  }
}