@import "../../../../scss/main.scss";

.CheckboxesGroup {
  overflow: hidden;
  list-style: none;

  &__title {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: $backgroundColor;
    background: $accentColor;
    box-shadow: $shadow;
  }

  &__subtitle {
    display: block;
    font-size: 14px;
    text-align: center;
    color: $backgroundColor;
    background: $accentColor;
    line-height: 1.7;
    font-weight: 600;
  }

  &__list {
    padding: 5px 15px 15px 15px;

    &>* {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}