@import "../../../scss/main.scss";

.OptionListBar {
  overflow: hidden;
  box-shadow: $shadow;
  border-radius: 10px;

  &__wrap {
    overflow: auto;
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    height: 30px;
    color: $backgroundColor;
    background: $additionalColor;
    box-shadow: $shadow;
    margin-bottom: 15px;
  }
}