@import "../../../scss/main.scss";

.OptionListBar {
  box-shadow: $shadow;
  position: relative;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;

  &__wrap {
    position: absolute;
    top: 30px;
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;

  }

  &__title {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    height: 30px;
    color: $backgroundColor;
    background: $additionalColor;
    box-shadow: $shadow;
    margin-bottom: 15px;
  }
}