// Google Fonts
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
// Local Fonts 
@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans-Bold.eot');
	src: url('../assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
			url('../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
			url('../assets/fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans-Regular.eot');
	src: url('../assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
			url('../assets/fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans-SemiBold.eot');
	src: url('../assets/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
			url('../assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
			url('../assets/fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans-Light.eot');
	src: url('../assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
			url('../assets/fonts/OpenSans-Light.woff2') format('woff2'),
			url('../assets/fonts/OpenSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

$fontfamily:"Open Sans";