$minwidth:320px;
$mw:1170;
$ld: 1468.98;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
$md5:379.98;

$backgroundColor: #fff;
$additionalColor: #20232A;
$accentColor: #139231;
$textColor: rgb(78, 78, 78);
$textError: rgb(248, 14, 14);

$shadow: 0 6px 22px 0 rgba(58, 60, 65, 0.28);
$shadowligth: 0 4px 10px 0 rgba(101, 102, 104, 0.28);