@import "../../../../scss/main.scss";

.spaceControlPanel {
  &__img {
    margin: 0 auto;
    box-shadow: $shadow;
  }

  &__subtitle {
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: $backgroundColor;
    background: $additionalColor;
    line-height: 1.7;
  }

  &__list {
    padding: 15px 15px 15px 15px;

    &>* {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__counter {
    font-size: 14px;
    vertical-align: baseline;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: 600;

    span {
      flex: 1;
      margin-left: 15px;
      font-weight: 900;
      height: 40px;
      // width: 70px;
      line-height: 40px;
      text-align: center;
      color: $backgroundColor;
      // border-radius: 50%;
      background: $additionalColor;
      font-size: 14px;
      vertical-align: middle;
      border-radius: 25px 0px 0px 25px;
    }
  }
}