@import "../../../../scss/main.scss";

.spaceControlPanel {
  &__img {
    margin: 0 auto;
    box-shadow: $shadow;
  }

  &__subtitle {
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: $backgroundColor;
    background: $additionalColor;
    line-height: 1.7;
  }

  &__list {
    padding: 15px 15px 15px 15px;

    &>* {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}